@charset 'UTF-8';

/* Definindo as cores principais */
:root {
    --cor-primaria: #c1c1c1;
    --cor-secundaria: #db5f08;
    --cor-destaque: #e9c46a;
    --cor-texto: #d1d1d1;
  }

  body{
    background-image: url(portfolio/imagens/fundo-portfolio.jpg);
    background-size: cover;
  }
  
  /* Estilo do título */
  h1 {
    color: var(--cor-primaria);
    font-size: 3em;
    margin-top: 0;
    margin-bottom: -10px;
  }

  ul{
    color: black;
  }
  
  /* Estilo do subtítulo */
  h2 {
    color: var(--cor-secundaria);
    font-size: 2em;
  }
  
  /* Estilo do texto */
  p {
    color: var(--cor-texto);
    font-size: 1.2em;
    line-height: 1.5em;
  }
  
  /* Estilo das imagens */
  img {
    max-width: 100%;
  }
  
  /* Estilo do botão */
  .btn {
    display: inline-block;
    background-color: var(--cor-destaque);
    color: #fff;
    font-size: 1.2em;
    padding: 0.5em 1em;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 1em;
  }
  
  /* Estilo do link */
  a {
    color: var(--cor-destaque);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
    color: var(--cor-secundaria);
  }
  
  /* Estilo da seção de projetos */
  .projetos {
    margin-top: 2em;
  }
  
  /* Estilo dos projetos */
  .projeto {
    border: 1px solid var(--cor-primaria);
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
  }

  .projetox {
    border: 1px solid var(--cor-primaria);
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 2em;
  }
  
  /* Estilo do título do projeto */
  .projeto h3 {
    color: var(--cor-primaria);
  }

  .projetox h3 {
    color: var(--cor-primaria);
  }
  
  /* Estilo da descrição do projeto */
  .projeto p {
    color: var(--cor-texto);
  }
  
  /* Estilo do link do projeto */
  .projeto a {
    color: var(--cor-destaque);
    text-decoration: none;
    font-weight: bold;
  }
  
  .projeto a:hover {
    color: var(--cor-secundaria);
  }
  footer{
    color: var(--cor-texto);
  }